table {
    border: 8px solid wheat;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: white;


 

}
input[type="button"] {
    width: 100%;
    padding: 20px 40px;
    background-color: #eea990;
    color: #6b3e2e;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
input[type="button"]:hover{
    background-color: #aa6f73;
    color: #6b3e2e;
}
input[type="text"] {
    padding: 20px 30px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    border: 2px solid #cebaa8;
    border-radius: 10px;
    
} 